.signup-container {
    max-width: 600px;
    margin: 0rem auto 2rem;
    padding: 20px;
    background-color: rgba(137, 137, 138, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transform: scale(0.9);
  }

  .signup-container h2 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-top: 10px;
    font-weight: bold;
  }
  
  input {
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #f58020;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e16b1a;
  }
  
  p {
    margin-top: 20px;
    text-align: center;
  }
  
  p a {
    color: #f58020;
    text-decoration: none;
  }
  
  p a:hover {
    text-decoration: underline;
  }
  

  .otherAuthentications {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
  }

  .fagoogle, .faGithub {
    color: rgb(26, 25, 25);
    cursor: pointer;
    transition: all 0.3s;
    padding: 1rem;
    border-radius: 50%;
    font-size: 4.5rem;
  }

  .fagoogle:hover {
    color: #e16b1a;
    background-color: rgba(0, 0, 0, 0.4);
  }

  .faGithub:hover {
    color: #000;
    background-color: rgba(0, 0, 0, 0.4);
  }